.spaceList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://i.imgur.com/5pLWmHw.jpg");
  background-size: cover;
  // background-repeat: no-repeat;
}

.cardsDiv {
  border: 2px solid rgb(249, 250, 187, 0.6);
  display: flex;
  flex-direction: row-reverse;
  width: 80vw;
  justify-content: center;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.cardsText {
  padding: 20px;
  display: flex;
  color: rgb(255, 255, 255);
  flex-direction: column;
  justify-content: center;
  p {
    font-size: 1.5rem;
  }
  h2 a {
    color: rgb(249, 250, 187);
  }
}

.cardsPic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  img {
    max-height: 800px;
    max-width: 800px;
    border: 2px solid rgb(249, 250, 187, 0.6);
    border-radius: 5px;
  }
}

picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    max-height: 1200px;
    max-width: 1200px;
    border: 2px solid rgb(249, 250, 187, 0.6);
    border-radius: 5px;
  }
}
