.total-astro-div {
  display: flex;
  flex-direction: column;
  // background-color: black;
  color: white;
  height: 100%;
}

.astronaut-list-div {
  display: flex;
  flex-wrap: wrap;
}

.ppl-in-space-title {
  font-size: 2em;
  border: 2px solid rgb(249, 250, 187, 0.6);
  background: rgb(0, 0, 0, 0.5);
  color: rgb(249, 250, 187);
  padding: 0.5% 0 1% 2%;
  text-align: center;
}
