.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2%;
  padding: 20px;
  border: 2px solid rgb(249, 250, 187, 0.6);
  border-radius: 10px;
  background: rgb(0, 0, 0, 0.5);
  color: rgb(249, 250, 187);
}

p {
  margin: 2% auto;
  font-size: 2em;
}
a {
  text-decoration: none;
  p {
    color: rgb(249, 250, 187);
    text-align: center;
  }
}
.middleP {
  margin-top: 10px;
}
.astrolinks {
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  a p {
    color: rebeccapurple;
    font-size: 1.7rem;
    margin-top: 10px;
  }
}
