.home-section {
  background-color: rgb(0, 0, 0, 0.9);
  color: white;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: rgb(249, 250, 187);
  h3 {
    text-align: center;
    margin: 0px;
    margin-top: 5px;
  }

  p {
    font-size: large;
    margin: 5px;
  }
  .nasaPics {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
    p {
      align-self: center;
    }
    .picOfTheDay img {
      max-height: 900px;
      max-width: 900px;
      border: 2px solid rgb(249, 250, 187, 0.6);
      border-radius: 5px;
      align-self: center;
    }
  }
}
