// header {
//   h1 {
//     font-size: 3.5rem;
//   }
// }

nav {
  width: 80vw;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: rgb(249, 250, 187);
    li {
      list-style-type: none;
      color: rgb(249, 250, 187);
      a {
        color: rgb(249, 250, 187);
      }
    }
  }
}

li {
  color: rgb(249, 250, 187);
}
