* {
    box-sizing: border-box;
    font-family: 'Strait', sans-serif;
  }
  
  body {
    background-image: url("https://i.imgur.com/S2rOFZR.jpg");
    font-family: 'Strait', sans-serif;
  }
  
  @import "article";
  @import "about";
  @import "nav";
  ///////////////////////////////// people in space css section
  
  @import "astronautList";
  @import "astronautCard";
  @import "homePage";